.gamePage {
    display: flex;
    align-items: center;
    height: 100%;
}

.key {
    font-size: 10em;
}

.map {
    overflow: scroll;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.notSelected {
    opacity: 0.5;
}