.keyGrid {
    display: flex;
    flex-direction: column;
}

.keyGroup {
    border: 1px solid #ccc;
    padding: 10px;
}

.keys {
    display: flex;
    flex-wrap: wrap
}

.keyItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    min-width: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    
    margin-right: 10px;
    margin-bottom: 10px;
}