.platoTemplate {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.joysticks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.joystick {
    border: black 1px solid;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

.joysticks>div>img {
    height: 30px;
}